/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

:root {
    --light-gray: #2b3032a1;
    --primary-color: #0064a4;
    --yellow-color: #fff002;
    --gray-color: #F2F2F2; 
    --border: #2b30321;
    --text-color: #ff686f;
    --anton: 'Anton', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --gugi: 'Gugi', cursive;
    --sofia: 'Sofia', cursive;
    --lato: 'Lato', sans-serif;
}

.primary-color {
    color: var(--primary-color);
}

.yellow-color {
    color: var(--yellow-color);
}

.gray-color {
    color: var(--gray-color);
}

.bg-gray-color {
    background-color: var(--gray-color) !important;
}

.bg-yellow-color {
    background-color: var(--yellow-color) !important;
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--text-color);
}

.font-roboto {
    font-family: var(--roboto);
}

.lightblue {
    color: lightblue;
}

header {
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

.site-title {
    font-family: var(--gugi);
}

.container.dropdown-toggle {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

    .header-links a:hover {
        color: white;
        text-decoration: underline;
    }

.navbar-nav {
    padding: 0.8em 0em;
}

.nav-link1 {
    font-size: 0.9em;
    color: #0064a4 !important;
    text-decoration: none;
    font-weight: bold;
}

    .nav-link:hover {
        text-decoration: underline;
    }

.site-slider {
    position: relative;
}

.prev {
    position: absolute;
    top: 50%;
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    /* opacity: 0;
    transition: opacity 1s ease;
    */
}

.next {
    position: absolute;
    top: 50%;
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    right: 0;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    /* opacity: 0;
    transition: opacity 1s ease;
    */
}

/*.site-slider:hover .prev {
    opacity: 1;
}*/

/*.site-slider:hover .next {
    opacity: 1;
}*/

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

    .slick-dots li {
        margin: 0 0.6rem;
    }

    .slick-dots button {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        padding: 0;
        border: none;
        background-color: white;
        text-indent: -99999px;
        border-radius: 100%;
    }

    .slick-dots li.slick-active button {
        transform: scale(2.5);
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
        outline: none;
    }

.site-slider-two {
    position: relative;
    height: 30%;
}

.slick-track.product:hover span {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    /*font-family: var(--roboto);*/
}

.category {
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    background-color: #fff002;
    font-family: var(--roboto);
    color: var(--primary-color);
    font-weight: bold;
}

    .category:hover {
        text-decoration: none;
    }



