@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Petrus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/4064b0717b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    <div class="btn-group">
                        <button class="btn border dropdown-toggle my-md-4 my-2 text-white"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            SGD
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <h1 class="my-md-3 site-title" style="color: #fff002"><b>Petrus</b></h1>
                </div>
                <div class="col-md-4 col-12 text-right text-white">
                    <h5 class="my-md-4 header-links">
                        <partial name="_LoginPartial" />
                    </h5>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff002">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link nav-link1 active" style="padding: 0 1.3em;" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link1" style="padding: 0 1.3em;" asp-area="" asp-controller="AdoptionListing" asp-action="Index">MANAGE LISTING</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link1" style="padding: 0 1.3em;" asp-area="" asp-controller="ApplyAdoption" asp-action="Index">ADOPTION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link1" style="padding: 0 1.3em;" asp-area="" asp-controller="AdoptionRequest" asp-action="Index">REQUEST</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-nav font-roboto" style="font-size: 0.9em; margin-right: auto !important; color: #0064a4">
                        <div class="nav-item mx-2 user-icon font-roboto">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link nav-link1" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b>Hello, @User.Identity.Name!</b></a>
                            }

                            else
                            {
                                <b>Hello, Guest!</b>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">petrus</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdoptionListing" asp-action="Index">Manage Adoption Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ApplyAdoption" asp-action="Index">Apply Adoption</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdoptionRequest" asp-action="Index">Adoption Request</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>*@

    <div class="container pt-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <br />

    <footer class="footer" style="background-color: var(--primary-color)">
        <div class="container">
            <b style="font-family: var(--gugi); color: #fff002">
                &copy; 2021 - Petrus | <a style="font-family: var(--gugi); color: #fff002" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
            </b>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
