@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>Admin Dashboard</h1>

<div class="container">
    <div class="row my-3">
        <div class="col-4">
            <h5>Average adoption speed</h5>
            <canvas class="m-3" id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-4">
            <h5>Adoption listings by Species</h5>
            <canvas class="m-3" id="donutChart" width="400" height="400"></canvas>
        </div>
        <div class="col-4">
            <h5>Adoption by month</h5>
            <canvas id="barChart" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h5>Latest adoption</h5>
            <div class="row-cols-1">
                <div class="card mb-3 h-100">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img id="latest-img" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" class="card-img" alt="..." style="width: 100%; height: 10vw; object-fit: cover;">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title mb-2 text-bold" id="latest-name">Karlee</h5>
                                <ul class="card-text" style="list-style: none; padding-left: 0;">
                                    <li>Species: <span id="latest-species">Dog</span></li>
                                    <li>Age: <span id="latest-age">2</span></li>
                                    <li>Breed: <span id="latest-breed">American Eskimo Dog</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body pl-1">
                                <h5 class="card-title mb-2 text-bold">Adopter</h5>
                                <ul class="card-text" style="list-style: none; padding-left: 0;">
                                    <li>Name: <span id="adopter-name"></span></li>
                                    <li>Email: <span id="adopter-email"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>Slow adoption</h5>
            <div class="row-cols-1">
                <a id="slow-href" href="#">
                    <div class="card mb-3 h-100">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img id="slow-img" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" class="card-img" alt="..." style="width: 100%; height: 10vw; object-fit: cover;">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h5 class="card-title mb-2 text-bold" id="slow-name">Karlee</h5>
                                    <ul class="card-text" style="list-style: none; padding-left: 0;">
                                        <li>Species: <span id="slow-species">Dog</span></li>
                                        <li>Age: <span id="slow-age">2</span></li>
                                        <li>Breed: <span id="slow-breed">American Eskimo Dog</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body pl-1">
                                    <h5 class="card-title mb-2 text-bold">Days elapsed</h5>
                                    <ul class="card-text" style="list-style: none; padding-left: 0;">
                                        <li id="days-elapsed">15 days</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


@*line chart*@
<script>
    const BASE_URL = 'https://localhost:44327/';

    function createLineChart(fetchedData) {
        const labelList = fetchedData.labels;

        const data = {
            labels: labelList,
            datasets: [{
                label: 'Day(s)',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: fetchedData.data,
            }]
        };

        const config = {
            type: 'line',
            data,
            @*options: {
                scales: {
                    y: {
                        max: 100
                    }
                }
            }*@
        };

        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        function fetchAndUpdate() {
            fetch(BASE_URL + 'api/admin/curr-adoption-speed')
                .then(res => res.text())
                .then(data => {
                    updateData(myChart, data);
                });
        }

        setInterval(fetchAndUpdate, 1000);

        function updateData(chart, newDatum) {
            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update();

            chart.data.datasets.forEach((dataset) => dataset.data.push(newDatum));
            chart.update('none');
        }
    }
</script>

@*donut chart*@
<script>

    function createDonutChart(fetchedData) {
        const typeData = {
            labels: fetchedData.labels,
            datasets: [{
                label: 'Listings',
                data: fetchedData.data,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const typeConfig = {
            type: 'doughnut',
            data: typeData,
        };

        var donutChart = new Chart(
            document.getElementById('donutChart'),
            typeConfig
        );

        function updateDonutData(chart, newData) {
            chart.data.datasets.forEach(dataset => {
                dataset.data = newData;
            });
            chart.update();
        }

        function fetchAndUpdateDonut() {
            fetch(BASE_URL + 'api/admin/adoptions-by-species')
                .then(res => res.json())
                .then(data => {
                    updateDonutData(donutChart, data.data);
                });
        }

        setInterval(fetchAndUpdateDonut, 1000);
    }
</script>

@*bar chart*@
<script>
    function createBarChart(fetchedData) {
        const labels = fetchedData.labels;

        const barData = {
            labels: labels,
            datasets: [{
                label: 'Adoptions',
                data: fetchedData.data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                ],
                borderWidth: 1
            }]
        };

        const barConfig = {
            type: 'bar',
            data: barData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };

        var barChart = new Chart(
            document.getElementById('barChart'),
            barConfig
        );

        function fetchAndUpdate() {
            fetch(BASE_URL + 'api/admin/curr-month-adoption')
                .then(res => res.text())
                .then(data => {
                    updateData(barChart, data);
                });
        }

        setInterval(fetchAndUpdate, 1000);

        function updateData(chart, newDatum) {
            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update('none');

            chart.data.datasets.forEach((dataset) => dataset.data.push(newDatum));
            chart.update('none');
        }
    }
</script>

<script>
    function showLatestAdoption(data) {
        let name = $('#latest-name')[0];
        let species = $('#latest-species')[0];
        let age = $('#latest-age')[0];
        let breed = $('#latest-breed')[0];
        let adopterName = $('#adopter-name')[0];
        let adopterEmail = $('#adopter-email')[0];
        let img = $('#latest-img')[0];

        name.innerHTML = data.name;
        species.innerHTML = data.species;
        age.innerHTML = data.age;
        breed.innerHTML = data.breed;
        adopterName.innerHTML = data.adopter_name;
        adopterEmail.innerHTML = data.email;
        img.src = `/images/${data.img}`;
    }

    function showSlowAdoptionListing(data) {
        let name = $('#slow-name')[0];
        let species = $('#slow-species')[0];
        let age = $('#slow-age')[0];
        let breed = $('#slow-breed')[0];
        let days = $('#days-elapsed')[0];
        let href = $('#slow-href')[0];
        let img = $('#slow-img')[0];

        name.innerHTML = data.name;
        species.innerHTML = data.species;
        age.innerHTML = data.age;
        breed.innerHTML = data.breed;
        days.innerHTML = data.days_elapsed;
        href.href = `/ApplyAdoption/Details/${data.listing_id}`;
        img.src = `/images/${data.img}`;
    }
</script>

<script>
    fetch(BASE_URL + 'api/admin/adoption-speed')
        .then(res => res.json())
        .then(data => {
            createLineChart(data);
        });

    fetch(BASE_URL + 'api/admin/adoptions-by-species')
        .then(res => res.json())
        .then(data => {
            createDonutChart(data);
            console.log(data);
        });

    fetch(BASE_URL + 'api/admin/adoptions-by-month')
        .then(res => res.json())
        .then(data => {
            createBarChart(data);
            console.log(data);
        });

    fetch(BASE_URL + 'api/admin/latest-adoptions')
        .then(res => res.json())
        .then(data => {
            data = data[0];

            showLatestAdoption(data);

            function fetchAndUpdate() {
                fetch(BASE_URL + 'api/admin/latest-adoptions')
                    .then(res => res.json())
                    .then(data => {
                        data = data[0];

                        showLatestAdoption(data);
                    });
            }

            setInterval(fetchAndUpdate, 1000);
        });


    fetch(BASE_URL + 'api/admin/slow-adoption-listings')
        .then(res => res.json())
        .then(data => {
            data = data[0];

            showSlowAdoptionListing(data);

            function fetchAndUpdate() {
                fetch(BASE_URL + 'api/admin/slow-adoption-listings')
                    .then(res => res.json())
                    .then(data => {
                        data = data[0];

                        showSlowAdoptionListing(data);
                    });
            }

            setInterval(fetchAndUpdate, 1000);
        });
</script>