@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>Admin Dashboard</h1>


<div class="container">
    <div class="row my-3">
        <div class="col-4">
            <h5>Average adoption speed</h5>
            <canvas class="m-3" id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-4">
            <h5>Adoption listings by Species</h5>
            <canvas class="m-3" id="donutChart" width="400" height="400"></canvas>
        </div>
        <div class="col-4">
            <h5>Adoption by month</h5>
            <canvas id="barChart" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h5>Latest adoptions</h5>
            <div class="row-cols-1">
                <div class="card mb-3 h-100">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" class="card-img" alt="..." style="width: 100%; height: 10vw; object-fit: cover;">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title mb-2 text-bold">Karlee</h5>
                                <ul class="card-text" style="list-style: none; padding-left: 0;">
                                    <li>Species: Dog</li>
                                    <li>Age: 2</li>
                                    <li>Breed: American Eskimo Dog</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body pl-1">
                                <h5 class="card-title mb-2 text-bold">Adopter</h5>
                                <ul class="card-text" style="list-style: none; padding-left: 0;">
                                    <li>Name:</li>
                                    <li>Email:</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>Slow adoption</h5>
            <div class="row-cols-1">
                <div class="card mb-3 h-100">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" class="card-img" alt="..." style="width: 100%; height: 10vw; object-fit: cover;">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title mb-2 text-bold">Karlee</h5>
                                <ul class="card-text" style="list-style: none; padding-left: 0;">
                                    <li>Species: Dog</li>
                                    <li>Age: 2</li>
                                    <li>Breed: American Eskimo Dog</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body pl-1">
                                <h5 class="card-title mb-2 text-bold">Days elapsed</h5>
                                <ul class="card-text" style="list-style: none; padding-left: 0;">
                                    <li>15 days</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*line chart*@
<script>
    const BASE_URL = 'https://localhost:44327/';

    function createLineChart(fetchedData) {
        const labelList = fetchedData.labels;

        const data = {
            labels: labelList,
            datasets: [{
                label: 'Day(s)',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: fetchedData.data,
            }]
        };

        const config = {
            type: 'line',
            data,
            @*options: {
                scales: {
                    y: {
                        max: 100
                    }
                }
            }*@
        };

        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        function fetchAndUpdate() {
            fetch(BASE_URL + 'api/admin/curr-adoption-speed')
                .then(res => res.text())
                .then(data => {
                    updateData(myChart, data);
                });
        }

        setInterval(fetchAndUpdate, 1000);

        function updateData(chart, newDatum) {
            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update();

            chart.data.datasets.forEach((dataset) => dataset.data.push(newDatum));
            chart.update('none');
        }
    }
</script>

@*donut chart*@
<script>

    function createDonutChart(fetchedData) {
        const typeData = {
            labels: fetchedData.labels,
            datasets: [{
                label: 'Listings',
                data: fetchedData.data,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const typeConfig = {
            type: 'doughnut',
            data: typeData,
        };

        var donutChart = new Chart(
            document.getElementById('donutChart'),
            typeConfig
        );

        function updateDonutData(chart, newData) {
            chart.data.datasets.forEach(dataset => {
                dataset.data = newData;
            });
            chart.update();
        }

        function fetchAndUpdateDonut() {
            fetch(BASE_URL + 'api/admin/adoptions-by-species')
                .then(res => res.json())
                .then(data => {
                    updateDonutData(donutChart, data.data);
                });
        }

        setInterval(fetchAndUpdateDonut, 1000);
    }
</script>

@*bar chart*@
<script>
    function createBarChart(fetchedData) {
        const labels = fetchedData.labels;

        const barData = {
            labels: labels,
            datasets: [{
                label: 'Adoptions',
                data: fetchedData.data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                ],
                borderWidth: 1
            }]
        };

        const barConfig = {
            type: 'bar',
            data: barData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };

        var barChart = new Chart(
            document.getElementById('barChart'),
            barConfig
        );

        function fetchAndUpdate() {
            fetch(BASE_URL + 'api/admin/curr-month-adoption')
                .then(res => res.text())
                .then(data => {
                    console.log(data);
                    updateData(barChart, data);
                });
        }

        setInterval(fetchAndUpdate, 1000);

        function updateData(chart, newDatum) {
            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update();

            chart.data.datasets.forEach((dataset) => dataset.data.push(newDatum));
            chart.update('none');
        }
    }
</script>

<script>
    fetch(BASE_URL + 'api/admin/adoption-speed')
        .then(res => res.json())
        .then(data => {
            createLineChart(data);
        });

    fetch(BASE_URL + 'api/admin/adoptions-by-species')
        .then(res => res.json())
        .then(data => {
            createDonutChart(data);
        });

    fetch(BASE_URL + 'api/admin/adoptions-by-month')
        .then(res => res.json())
        .then(data => {
            createBarChart(data);
            console.log(data);
        });
</script>